.jumbotron {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
    text-align: center;
    background-color: grey;

}

.container-fluid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: none;
    color: black;
}


#main-container{
    background-color:lightblue;

}

.btn {
    padding: 5px;
}

#main-card{
    background-color: lightcyan;
}

.row{
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

